[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
httpx = "*"
python-dotenv = "*"
openai = "*"
pydantic-ai = "*"
passlib = {extras = ["bcrypt"], version = "*"}
pydantic = {extras = ["email"], version = "*"}

[dev-packages]

[requires]
python_version = "3.13"
